RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# QSA - Query String Append - Add GET params to url
# L   - Last (~ continue)
# END - (~ break)
RewriteRule ^(.*)$ index.php?$1 [L,QSA]
